$spotify-green: rgb(134,181,0);

body {
    background-color: rgb(26, 26, 26);
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
}

.container {
	max-width: 940px;
}

.spotify-logo {
	display: inline-block;
}

.text-muted {
	position: relative;
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
	display: inline-block;
	color: white;
	top: 5px;
}

.nav-pills > li.active > a {
    background-color: $spotify-green;
    color: #1a1a1a;
}

a {
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
    // color: $spotify-green;
    color: white;
}

a:hover, a:focus {
	color: $spotify-green;

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: $spotify-green;
    color: #1a1a1a;
}

// Official Spotify button from website
.about-button {
	border: 1px solid #7ea613;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#acd341),to(#88bd32));
	background-image: -webkit-linear-gradient(top,#acd341,0%,#88bd32,100%);
	background-image: -moz-linear-gradient(top,#acd341 0,#88bd32 100%);
	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacd341',endColorstr='#ff88bd32',GradientType=0);
	background-color: #88bd32;
	text-shadow: 0 -1px 0 #72942a;
	margin-right: 10px;
}
.get-spotify {
	border: 1px solid #7ea613;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#acd341),to(#88bd32));
	background-image: -webkit-linear-gradient(top,#acd341,0%,#88bd32,100%);
	background-image: -moz-linear-gradient(top,#acd341 0,#88bd32 100%);
	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacd341',endColorstr='#ff88bd32',GradientType=0);
	background-color: #88bd32;
	text-shadow: 0 -1px 0 #72942a;
}

// .header {
// 	color: white;
// }

// h1 {
// 	color: white;
// }

// .detail h1 {
// 	color: white;
// }

.follow {
	margin-top: -10px;
	color: white;
}

.terms {
	color: $spotify-green;
	text-align: center;
	font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
	padding-top: 15px;
}



