$spotify-green: rgb(134,181,0);

body {
    background-color: rgb(26, 26, 26);
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1040px;
}

img {
	padding-right: 5px;
}

// Header Styling
.spotify-logo {
	display: inline-block;
	padding-right: 0px;
	margin-left: 50px;
}

.text-muted {
	position: relative;
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
	display: inline-block;
	color: white;
	top: 5px;
	letter-spacing: -1px;
	font-weight: bold;

}

.nav {
	margin-right: 50px;
}

.nav-pills > li.active > a {
    background-color: $spotify-green;
    color: #1a1a1a;
}

a {
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
    // color: $spotify-green;
    color: white;
}

a:hover, a:focus {
	color: $spotify-green;
	text-decoration: none;

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: $spotify-green;
    color: #1a1a1a;
}

// Official Spotify button from website

.get-spotify {
	border: 1px solid #7ea613;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#acd341),to(#88bd32));
	background-image: -webkit-linear-gradient(top,#acd341,0%,#88bd32,100%);
	background-image: -moz-linear-gradient(top,#acd341 0,#88bd32 100%);
	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacd341',endColorstr='#ff88bd32',GradientType=0);
	background-color: #88bd32;
	text-shadow: 0 -1px 0 #72942a;
}

.follow {
	margin-top: -10px;
	color: white;
}



// Body Styling
.next-song {
	border: 1px solid #7ea613;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#acd341),to(#88bd32));
	background-image: -webkit-linear-gradient(top,#acd341,0%,#88bd32,100%);
	background-image: -moz-linear-gradient(top,#acd341 0,#88bd32 100%);
	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacd341',endColorstr='#ff88bd32',GradientType=0);
	background-color: #88bd32;
	text-shadow: 0 -1px 0 #72942a;
	width:250px;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	// margin-left: 350px;
	margin-left: 205px;
	margin-bottom: 10px;
	display: inline-block;
}

.next-song:hover {
	color: #86b500;
}

.about-button {
	border: 1px solid #7ea613;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.8);
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#acd341),to(#88bd32));
	background-image: -webkit-linear-gradient(top,#acd341,0%,#88bd32,100%);
	background-image: -moz-linear-gradient(top,#acd341 0,#88bd32 100%);
	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacd341',endColorstr='#ff88bd32',GradientType=0);
	background-color: #88bd32;
	text-shadow: 0 -1px 0 #72942a;
	width:100px;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	// margin-left: 350px;
	margin-left: 65px;
	margin-bottom: 10px;
	display: inline-block;
}

.next-song:hover {
	color: #86b500;
	text-decoration: none;
	cursor: pointer;
}

// Lyrics Style

#lyrics {
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: Grey;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 680px;
	text-align: left;
	margin-left: 40px;
	text-shadow: 2px 2px 2px #0f0f0f;
	display: inline-block;
	position: absolute;
	line-height: 40px;
}

#player {
	// margin-left: 40px;
}

// Google Image search results are contained within this div
#content {
	display: inline-block;
	position: relative;
	overflow: hidden;
	// width: 550px;
	width: 1040px;
	// height: 409px;
	
}
#content img {
		width:260px;
		display: inline-block;
	}
.terms {
	color: $spotify-green;
	text-align: center;
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
	padding-top: 15px;
}

.slidesjs-container {
	height: 409px
}

#custom {
	// width: 970px;
	width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid 15px #363535;
	margin-bottom: 25px;
	background-image: url(http://www.davelope.net/wp-content/uploads/2013/05/spotify-logo.png);
	background-size: cover;
	box-shadow: inset 0px 0px 0px 1.5px black;
}
 .outerWidgetContainer {
 	width:240px;
 }

@media only screen and (max-width: 780px){
	#custom {
		height: 655px;
		width: 875px;
	}

}@media only screen and (max-width: 690px){
	#custom {
		height: 556px;
		width:776px;
	}

}
@media only screen and (max-width: 545px){
	#custom {
		height: 500px;
		width: 720px;
	}

		#lyrics {
		display: inline-block;
		width: 545px;
		// margin-left: 0px;
	}

}
@media only screen and (max-width: 400px){
	#custom {
		height: 460px;
		width: 680px;
	}
	#lyrics {
		display: inline-block;
		width: 680px;
		// margin-left: 0px;
	}
	#player {
		margin-left: 200px;
	}
	.header {
		width: 400px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.spotify-logo {
		text-align: center;
		margin: 0 auto;
		margin-left: 257px;
	}
	.text-muted {
		margin-left: 257px;
	}
	.get-spotify {
		position: absolute;
		left: -50px; 
		margin-bottom: 10px;
	}
	.follow {
		position: absolute;
		left: 75px;
	}

}
